// container3 SCSS

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $light-gray;

        .bestSeller {
            text-align: center;
            margin-top: 20px;
            font-size: 130%;
            h2 {
                color: $blue;
            }
        }
        .box3{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            background: $light-gray;
            padding-bottom: 30px;
            width: 100%;
            .gallery {
                padding: 1% 1%;
                border: 1px solid $mid-gray;
                background-color: $white;
                margin: 20px 5px;
                .bio {
                    color: $light-purple;
                }
                .bio:hover {color: $orange;
                }
            }
    }
}



