// VARIABLES

// COLORS
$black: #000;
$dark-gray: #383838;
$gray: #696969;
$mid-gray: #d6dce6;
$light-gray: #a8a3a8;
$white: #fff;
$yellow: #ffff00;

$light-purple: #6f666b;

$orange: #ffa31a;
$blue: #003366;
$purple: #734F66;
// $light-purple: #778199;
$tan: #dfd5c6;

// FONTS
$font-main: 'Open Sans', sans-serif;
$font-header: 'Merriweather', serif;

// FONT SIZE
$font-size: 16px;



